@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paweł Ewald sp. z o.o.<br />
    ul. Nieznana 12y<br />
    <abbr title="Phone">tel:</abbr>
    782-290-30
</address>

<address>
    <strong>Pomoc Techniczna:</strong>   <a href="mailto:pawel.ewald@gmail.com">pawel.ewald@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pawel.ewald@poczta.fm">pawel.ewald@poczta.fm</a>
</address>